<% content_for :title, "Welcome, #{@dashboard.user}" %>

<div>
<h2>Your Upcoming Trips</h2>
<% @dashboard.trips.each do |trip| %>
  <div>
  <%= link_to trip.name, trip_path(:id => trip.id) %>
  <p class="placeId"><%= trip.destination.google_places_id %></p>
  <%= display_pending_participations_of trip %>
  </div>
<% end %>
</div>

<%= button_to "Start your own trip", new_trip_path, method: :get, :class => 'change' %>
