<%= render 'refills/navigation' %>
<div class="row"></div>
<div class="row">
  <%= button_to "Start your own trip", new_trip_path, method: :get, :class => 'change' %>
</div>

<%= render 'refills/vertical_tabs' %>
