<% content_for :title, "Welcome, #{@dashboard.user}" %>

<div>
<h2>Your Upcoming Trips</h2>
<% @dashboard.trips.each do |trip| %>
  <%= link_to trip.name, trip_path(:id => trip.id) %><br/>
<% end %>
</div>

<%= button_to "Start your own trip", new_trip_path, method: :get, :class => 'change' %>
