<% content_for :title, "Dashboard" %>

<p>Hello <%= @dashboard.user %></p>

<div>
<h2>Your Trips</h2>
<% @dashboard.trips.each do |trip| %>
  <%= link_to trip.name, trip_path(:id => trip.id) %><br/>
<% end %>
</div>

<%= button_to "Start your own trip", new_trip_path, :class => 'change' %>
