<% content_for :title, "Dashboard" %>

<p>Hello <%= @dashboard.user %></p>

<div>
<h1>Your Trips</h1>
<% @dashboard.trips.each do |trip| %>
  <%= link_to trip.name, trip_path(:id => trip.id) %><br/>
<% end %>
</div>
<%= link_to "Start your own trip", new_trip_path %>
