<%= render 'refills/navigation' %>
<h1 class="dark-aqua text-center">Create a New Trip!</h1>
<button id="next_button", class="button">
  <%= icon "chevron-circle-right" %> NEXT
</button>
<%= render 'trip_form' %>
