<%= render 'refills/navigation' %>

<div class="row">
  <h2>Edit your profile for <%= current_user.username %></h2>
  <p>User ID:  <%= current_user.id %></p>
  <p>Profile ID:  <%= @profile.id %></p>
</div>
