.container {
  @include outer-container;
  @include clearfix;
  padding: 5px 0;
}

.row {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.row:first-child {
  background-color: rgba(219,239,240,1.0);
}

.row:nth-child(2){
  background-color: #4C9BA8;
}

.cover {
  @include span-columns(4);

  @include media($medium-screen-down) {
    @include span-columns(2);
  }

  @include media($mobile) {
    width: 70%;
    margin: auto;
    @include clearfix;
    float: center;
    margin-top: 20px !important;
  }
}

.cover:last-child {
  @include media($mobile) {
    margin: auto !important;
  }
}

#title {
  @include media($medium-screen-down) {
    @include fill-parent;
  }
}

#title h1 {
  text-align: center;
  color: #4C9BA8;
  margin: auto;
  vertical-align: middle;

  @include media($mobile) {
    padding-top: 0px;
  }
  @include media($medium-screen-down) {
    font-size: 2em;
    padding-top: 20px;
  }
  @include media($medium-screen-up) {
    font-size: 3em;
  }
  @include media($extra-large-screen-up) {
    font-size: 3.6em;
  }
}

#title .subtitle {
  text-align: center;
  color: #4C9BA8;
  margin: auto;
  padding: 0px;

  @include media($medium-screen-down) {
    font-size: small;
  }
}

#notes, #map, #postcard {
  @include media($mobile-screen-up){
    margin-right: 0px;
    float: right;
  }
}

#notes {
  @include media($mobile-screen-up){
    margin-top: -210px;
  }
   @include media($medium-screen-up){
    margin-top: 0px;
  }
}

//Second row, bottom
#postcard, #mail {
  @include media($medium-screen-up) {
    margin-top: -230px;
  }
  @include media($large-screen-up) {
    margin-top: -210px;
  }
  @include media($extra-large-screen-up) {
    margin-top: -190px;
  }
}

#mail {
  @include media($mobile-screen-up){
    float: right;
    margin-right: 0px;
  }
  @include media($medium-screen-up){
    float: left;
    margin-right: 2.18%;
  }
}

//Second row, last
#postcard {
  @include media($mobile) {
    margin-top: 20px !important;
  }
  @include media($mobile-screen-up){
    float: right;
  }
}

.hover-tile-outer {
  $base-line-height: 1.5em !default;
  $hover-tile-height: 13em;
  cursor: pointer;

  h4 {
    margin: 0;
  }

  p {
    line-height: $base-line-height;
  }

  margin-bottom: $base-line-height;

  .hover-tile-container {
    width: 100%;
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.5);

    p {
      color: transparentize(#fff, 0.3);
    }

    h4 {
      margin-bottom: 0.5em;
    }
  }
}

#backpack{
  background: url("/assets/backpack.svg");
  background-repeat: no-repeat;
  background-position: top;

  .double-hover-tile-container {
    width: 100%;
    height: 26em;
    overflow: hidden;
  }

  .double-hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }
}

#info {
  background: url("/assets/information.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#map {
  background: url("/assets/map.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#activities {
  background: url("/assets/activities.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#notes {
  background: url("/assets/notes.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#mail {
  background: url("/assets/mail.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#postcard {
  background: url("/assets/postcard.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.header {
  padding: 50px 0px;
}
