.form {
  margin: auto;
  padding: 80px 20px;
  @include media ($medium-screen) {
    padding-top: 20px;
    @include shift(4);
    @include span-columns(4);
  }
}

.inline {
  display: inline;
}

.actions input {
  float: right;
}
