#new_experience {
  @include span-columns(12);
}

#experience_country, #experience_activities {
  @extend %dropdown;
}

#new_experience div {
  @include span-columns(4);
  margin: 20px 5px;
  display: inline-block;
  background-color: lighten($red, 30%);
  border-radius: $base-border-radius;
  padding: 5px;
}

#new_experience div:last-child {
  background-color: $base-background-color;
}
