#new_trip, .edit_trip {
    @include span-columns(12);
    @include outer-container;
    margin: auto;

  @include media($medium-screen) {
    @include shift(3);
    @include span-columns(6);
  }
}

// #new_trip div, .edit_trip div {
.trip_form_field {
  h4 {
    color: $orange;
    text-align: center;
  }

  margin: 5px 1px;
  padding: 5px;
  border-radius: $base-border-radius;
}

.centered {
  padding: 120px 10px;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  z-index: 1;
}

.button {
  @extend button;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em;
  text-align: right;
  @include media($medium-screen) {
    @include shift(3);
    @include span-columns(6);
  }
}

.change {
  margin: 10px;
}

.create {
  @include shift(3);
  @include span-columns(6);
  margin: 10px;
}

.submit {
  @include fill-parent();
  display: block;
}

.trip_header {
  border-bottom: 2px solid $light-gray;
  color: $orange;
  padding: 10px 0;
}

.details {
  @include span-columns(6);
  padding: 10px 0;

  h4 {
    color: $dark-aqua;
    @include span-columns(5);
  }
  p {
    @include span-columns(7);
  }

  .bigger {
    font-weight: bold;
    font-size: $base-font-size * 1.1;
  }
}

.details:last-child {
  margin-right: 0.1em;
}
