#new_trip, .edit_trip {
    @include span-columns(12);
    @include outer-container;
    margin: auto;

  @include media($medium-screen) {
    @include shift(3);
    @include span-columns(6);
  }
}

// #new_trip div, .edit_trip div {
.trip_form_field {
  h4 {
    color: $orange;
    text-align: center;
  }

  margin: 5px 1px;
  padding: 5px;
  border-radius: $base-border-radius;
}

.centered {
  padding: 120px 10px;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  z-index: 1;
}

.button {
  @extend button;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em;
  text-align: right;
  @include media($medium-screen) {
    @include shift(3);
    @include span-columns(6);
  }
}

.change {
  @include span-columns(3);
  margin: 10px;
}

.submit {
  @include fill-parent();
  display: block;
}
