<div class="row">
  <div class="container">
    <div class="header" id="about">
      <h1>About</h1>
      <h5>Travel is a fun experience that could be shared with anyone,<br/>regardless of race, age or gender.</h5>
    </div>
    <div class="body">
      <%= render 'refills/icon_bullet_points'%>
    </div>
  </div>
</div>
