<div class="row">
  <div id="title" class="cover">
    <h1>Places Together</h1>
    <h6 class="subtitle">Hover over the items to see what's inside!</h6>
  </div>

  <div id="info" class="cover">
    <object data="assets/information.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h4>Know what's this about</h4>
    </div>
  </div>

  <div id="map" class="cover">
    <object data="assets/map.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h4>Browse by Destinations</h4>
    </div>
  </div>
</div>

<div class="row">
  <div id="activities" class="cover">
    <object data="assets/activities.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h4>Browse by activity</h4>
    </div>
  </div>

  <div id="backpack" class="cover">
    <object data="assets/backpack.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h4>Login to your Dashboard</h4>
    </div>
  </div>

  <div id="notes" class="cover">
    <object data="assets/notes.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h4>FAQ</h4>
    </div>
  </div>

  <div id="mail" class="cover">
    <object data="assets/mail.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h4>Contact Us</h4>
    </div>
  </div>

  <div id="postcard" class="cover">
    <object data="assets/postcard.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h4>Postcard</h4>
    </div>
  </div>
</div>



