<div class="row">
  <div id="title" class="cover">
    <h1>Places Together</h1>
    <h6 class="subtitle">Hover over the items to see what's inside!</h6>
  </div>

  <div id="info" class="cover">
    <object data="assets/information.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h2>Know what's this about</h2>
    </div>
  </div>

  <div id="map" class="cover">
    <object data="assets/map.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h2>Browse by Destinations</h2>
    </div>
  </div>

  <div id="activities" class="cover">
    <object data="assets/activities.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h2>Browse by activity</h2>
    </div>
  </div>

  <div id="backpack" class="cover">
    <object data="assets/backpack.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h2>Login to your Dashboard</h2>
    </div>
  </div>

  <div id="notes" class="cover">
    <object data="assets/notes.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h2>FAQ</h2>
    </div>
  </div>

  <div id="mail" class="cover">
    <object data="assets/mail.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h2>Contact Us</h2>
    </div>
  </div>

  <div id="postcard" class="cover">
    <object data="assets/postcard.svg" type="image/svg+xml"></object>
    <div class="hover-tile-hidden">
      <h2>Postcard</h2>
    </div>
  </div>
</div>



