<div class="row">
  <div class="container">
    <div id="title" class="cover hover-tile-outer">
      <h1>Places Together</h1>
      <h6 class="subtitle">Hover over the items to see what's inside!</h6>
    </div>

    <div id="info" class="cover hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <!-- <object data="assets/information.svg" type="image/svg+xml"></object> -->
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Learn more about us</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
        </div>
      </div>
    </div>

    <div id="map" class="cover hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
      <!-- <object data="assets/map.svg" type="image/svg+xml"></object> -->
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Learn more about us</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
        </div>
      </div>
    </div>

    <div id="activities" class="cover hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <!-- <object data="assets/activities.svg" type="image/svg+xml"></object> -->
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Learn more about us</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
        </div>
      </div>
    </div>

    <div id="backpack" class="cover hover-tile-outer">
      <div class="double-hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <!-- <object data="assets/backpack.svg" type="image/svg+xml"></object> -->
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Learn more about us</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          <h4>Learn more about us</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
        </div>
      </div>
    </div>

    <div id="notes" class="cover hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <!-- <object data="assets/notes.svg" type="image/svg+xml"></object> -->
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Learn more about us</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
        </div>
      </div>
    </div>

    <div id="mail" class="cover hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <!-- <object data="assets/mail.svg" type="image/svg+xml"></object> -->
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Learn more about us</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
        </div>
      </div>
    </div>

    <div id="postcard" class="cover hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
          <!-- <object data="assets/postcard.svg" type="image/svg+xml"></object> -->
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Learn more about us</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="container">
  <div class="header" id="about">
    <h1>About</h1>
  </div>
  <div class="body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis aliquet dolor. Suspendisse mollis sodales odio id pharetra. Maecenas maximus scelerisque mi viverra dictum. Aliquam ut tempor magna, eget tincidunt libero. Cras metus leo, semper eu urna at, molestie sollicitudin purus. Praesent tincidunt purus at libero maximus feugiat. Etiam cursus, lacus in sollicitudin mattis, eros orci blandit neque, vitae posuere mauris mi a ipsum. Suspendisse in mollis velit. Sed hendrerit nibh aliquam tincidunt efficitur. Donec quis porta sapien, quis gravida ex. Etiam tempus id nisi et rhoncus. Curabitur vel arcu sed elit viverra cursus. Aenean imperdiet mauris ut velit dapibus, rhoncus luctus augue malesuada. Sed vitae placerat nisi. Mauris risus tortor, vulputate nec justo a, feugiat semper eros.</p>
  </div>
</div>
</div>
