<div class="row">
  <div class="container">
  <div id="title" class="cover">
    <h1>Places Together</h1>
    <h6 class="subtitle">Hover over the items to see what's inside!</h6>
  </div>

  <div id="info" class="cover">
    <object data="assets/information.svg" type="image/svg+xml"></object>
    <a href="#about">
      <div class="hover-tile-hidden">
        <h2>Know what's this about</h2>
      </div>
    </a>
  </div>

  <div id="map" class="cover">
    <object data="assets/map.svg" type="image/svg+xml"></object>
    <a href="#about">
      <div class="hover-tile-hidden">
        <h2>Browse by Destinations</h2>
      </div>
    </a>
  </div>

  <div id="activities" class="cover">
    <object data="assets/activities.svg" type="image/svg+xml"></object>
    <a href="#about">
      <div class="hover-tile-hidden">
        <h2>Browse by activity</h2>
      </div>
    </a>
  </div>

  <div id="backpack" class="cover">
    <object data="assets/backpack.svg" type="image/svg+xml"></object>
    <a href="#about">
      <div class="hover-tile-hidden">
        <h2>Login to your Dashboard</h2>
      </div>
    </a>
  </div>

  <div id="notes" class="cover">
    <object data="assets/notes.svg" type="image/svg+xml"></object>
    <a href="#about">
      <div class="hover-tile-hidden">
        <h2>FAQ</h2>
      </div>
    </a>
  </div>

  <div id="mail" class="cover">
    <object data="assets/mail.svg" type="image/svg+xml"></object>
    <a href="#about">
      <div class="hover-tile-hidden">
        <h2>Contact Us</h2>
      </div>
    </a>
  </div>

  <div id="postcard" class="cover">
    <object data="assets/postcard.svg" type="image/svg+xml"></object>
    <a href="#about">
      <div class="hover-tile-hidden">
        <h2>Postcard</h2>
      </div>
    </a>
  </div>
  </div>
</div>

<div class="row">
<div class="container">
  <div class="header" id="about">
    <h1>About</h1>
  </div>
  <div class="body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis aliquet dolor. Suspendisse mollis sodales odio id pharetra. Maecenas maximus scelerisque mi viverra dictum. Aliquam ut tempor magna, eget tincidunt libero. Cras metus leo, semper eu urna at, molestie sollicitudin purus. Praesent tincidunt purus at libero maximus feugiat. Etiam cursus, lacus in sollicitudin mattis, eros orci blandit neque, vitae posuere mauris mi a ipsum. Suspendisse in mollis velit. Sed hendrerit nibh aliquam tincidunt efficitur. Donec quis porta sapien, quis gravida ex. Etiam tempus id nisi et rhoncus. Curabitur vel arcu sed elit viverra cursus. Aenean imperdiet mauris ut velit dapibus, rhoncus luctus augue malesuada. Sed vitae placerat nisi. Mauris risus tortor, vulputate nec justo a, feugiat semper eros.</p>
  </div>
</div>
</div>
