<% @destinations.each do |d| %>
  <ul><h4><%= d.city %>, <%= d.country %> (<%= d.trips.count %>)</h4>
    <% d.trips.each do |trip| %>
    <li><%= link_to trip.name, trip_path(:id => trip.id) %></li>
    <% end %>
  </ul>
<% end %>
