<ul class="bullets">
  <li class="bullet three-col-bullet">
    <!-- <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div> -->
    <div class="bullet-content">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
      </span>
      <h2 class="light-aqua">Connect with fellow travellers</h2>
      <p>Make new friends and share new experiences.
Create your own trip or join others groups for a more fun travel experience.</p>
      </div>
  </li>
  <li class="bullet three-col-bullet">
    <!-- <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div> -->
    <div class="bullet-content">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
      </span>
      <h2 class="light-aqua">Collaborate with your trip mates</h2>
      <p>Open your mind and embrace diversity
Plan your trip itinerary and get suggestions and inputs from your groupmates.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <!-- <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div> -->
    <div class="bullet-content">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
      </span>
      <h2 class="light-aqua">Save on money, resources and energy</h2>
      <p>Save more money through splitting the common costs like tours, transport and share meals.
Become more environmental-friendly by reducing energy consumption.</p>
    </div>
  </li>
</ul>
